HELP.md
build/
!**/src/main/**
!**/src/test/**

### Authorization properties ###
src/test/resources/properties/auth.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle

### Logs ###
*.log